In [2]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [ ]:
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 10)

In [ ]:
saved_style_state = matplotlib.rcParams.copy()

In [13]:
if os.path.isfile("bp0022-oad-pivot-2016-17-v800.csv"):
    filepath = "bp0022-oad-pivot-2016-17-v800.csv"
    print "loading from file"
immigration_data = pd.read_csv(filepath)
print "done"

loading from file
done

In [20]:
immigration_data.head(11)

,Month,July,August,September,October,November,December,January,February,Grand Total
0,Long-term resident departure,7396,7543,5325,5115,4885,6226,8848,4781,50119
1,Long-term resident return,10611,10016,10524,10407,10827,21321,11572,10928,96206
2,Long-term visitor arrival,64362,30610,31671,33927,28766,24324,55550,80813,350023
3,Long-term visitor departure,23068,20029,21389,21439,25396,40338,33511,20020,205190
4,Resident permanent departure,8693,9464,7442,7112,6210,8508,10820,5275,63524
5,Settler arrival,10434,13303,11580,10995,11034,11531,9611,11833,90321
6,Short-term resident departure,890643,808434,975137,779397,734480,1127870,771282,589997,6677241
7,Short-term resident return,1023386,821739,885538,1023834,738837,676799,1256949,737799,7164881
8,Short-term visitor arrival,716009,632649,647220,694344,720495,971802,725790,780059,5888367
9,Short-term visitor departure,643798,695513,588650,682335,771876,800918,949600,769797,5902488
10,Grand Total,3398401,3049299,3184477,3268905,3052806,3689638,3833533,3011302,26488360

In [3]:
if os.path.isfile("RBA-FXRTWI.csv"):
    filepath = "RBA-FXRTWI.csv"
    print "loading from file"
rba_data = pd.read_csv(filepath)
print "done"

NameError: name 'filepath' is not defined